
body{
	font-family: 'Overpass', sans-serif;
}

.headingText{
	color:#5E99C4;
	font-size: 30px
}

.Title{
	color:#5E99C4;
	font-size: 45px
	font-weight: bold;
}

.row{
	width:100%;
}

.marginCenter{
	margin-left:75px;
	margin-right:75px;
}

.no_bullets{
	list-style-type:none;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.navbar{
	background-color: #DA5345;
	padding: 8px 30px;
	margin-bottom: 50px
}

.navbar a{
	padding: 8px 30px;
	text-decoration: none;
	color:white;
	font-size:20px;
}

.navbar a:hover{
	background-color: #C72828

